<button mat-icon-button aria-label="Open filters" [routerLink]="'/'" matTooltip="Back to trips" matTooltipPosition="after">
    <mat-icon>chevron_left</mat-icon>
</button>
<app-loader *ngIf="!trip"></app-loader>
<div class="trip-container" *ngIf="trip">
    <img [src]="trip.imageUrl" alt="">
    <div>
        <div class="header">
            <!-- Title -->
            <h2>{{trip.title}}</h2>
            <!-- Rating -->
             <div class="rating">
                <mat-icon>star_rate</mat-icon>
                <p>
                    <span>{{trip.rating}} </span>
                    based on {{trip.nrOfRatings}} ratings
                </p>
             </div>
        </div>
        <mat-divider></mat-divider>
        <!-- Creation date -->
        <p class="date" matTooltip="Created on:" matTooltipPosition="before">
            {{trip.creationDate | FormatDatePipe}}
        </p>
        <!-- Description -->
        <p>{{trip.description}}</p>
        <br>
        <!-- Price -->
        <p class="text-section">
            <span>Price:</span>
            <span>{{trip.price}} €</span>
        </p>
        <!-- Tag list -->
        <div class="text-section">
            <span>Tags:</span>
            <mat-chip-set aria-label="Trip tags">
                <mat-chip *ngFor="let tag of trip.tags">{{tag}}</mat-chip>
            </mat-chip-set>
        </div>
        <!-- Vertical type -->
        <p class="text-section">
            <span>Vertical type:</span>
            <span>{{trip.verticalType}}</span>
        </p>
        <br>
        <!-- CO2 -->
        <mat-card appearance="outlined" class="eco">
            <mat-card-content>
                <mat-icon>eco</mat-icon>
                <p>
                    <span>{{trip.co2}}<span class="unit off-white"> kg</span></span>
                    of CO2 will be consumed on this trip
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>