
<!-- Page filters -->
<app-page-filter (filterChanges)="filterChanges($event)" [pageFilters]="pageFilters"></app-page-filter>

<!-- Trip list -->
<div class="grid" *ngIf="page">
    <app-trip-card
        *ngFor="let trip of page.items"
        [trip]="trip"
        [routerLink]="'/trip/' + trip.id"
        [id]="'trip-' + trip.id"
    ></app-trip-card>
</div>

<!-- Pagination + trip of the day button -->
<div class="grid-footer">
    <button mat-stroked-button (click)="goToDailyTrip()" id="daily-trip">Trip of the day</button>
    <mat-paginator
        (page)="handlePageEvent($event)"
        [pageIndex]="page.page - 1"
        [length]="page.total"
        [pageSize]="page.limit"
        [pageSizeOptions]="pageSizeOptions"
        aria-label="Select page"
        [disabled]="loading"
    >
    </mat-paginator>
</div>

<!-- Will display a loader when loading a new page -->
<app-loader *ngIf="loading"></app-loader>