.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    margin: 24px 0;

    & > * {
        cursor: pointer;
    }
}
.grid-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    gap: 24px;

    mat-paginator {
        margin-right: -8px;
    }
}