/** General class to address the host style of all pages */
.page-container {
    padding: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
        width: 100%;
        max-width: 1040px;
    }

    mat-chip {
        text-transform: capitalize;

        &.awesome {
            background-color:lightskyblue;
        }
        &.good {
            background-color:lightgreen;
        }
        &.average {
            background-color:khaki;
        }
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
