<mat-card class="example-card" appearance="outlined">
    <img mat-card-xl-image [src]="trip.thumbnailUrl">
    <div class="rate-badge" matTooltip="Rating" matTooltipPosition="before" id="rating">
        <mat-icon>star_rate</mat-icon>
        {{trip.rating}}
    </div>
    <mat-card-content>
        <p id="title">{{trip.title}}</p>
        <p id="date" matTooltip="Created on">
            {{trip.creationDate | FormatDatePipe}}
        </p>
        <h3 id="price">{{trip.price}} €</h3>
    </mat-card-content>
</mat-card>